@import url(../container/container.css);
@import url(../footer/footer.css);
@import url(../../dev1/header/header.css);
@import url(../intro/intro.css);
@import url(../../dev1/places/place.css);
@import url(../../dev1/quotes/quotes.css);
@import url(../css/responsive.css);
@import url(../css/variables.css);