.footer{
  padding: 80px 0 0 0;
}
.footer__container{
  max-width: 1175px;
  margin: 0 auto;
}
.footer__inner{
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--accent);
  padding: 190px 24px;
}
.footer__text{
  margin: 0;
}
